.idea/
.buildx-cache/
.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Artefactos de Python, Pruebas y Cobertura
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.coverage
htmlcov/
coverage.xml
