# opencode
codehostname=opencode
OPENCODE_SERVER_USERNAME="master" # change me
OPENCODE_SERVER_PASSWORD="MtsNFjb3541wObuWVYA48DPi21BSjRdA" # change me
OCPORT=4096
OPENCODE_CONFIG_CONTENT={"$$schema":"https://opencode.ai/config.json","provider":{"ollama":{"npm":"@ai-sdk/openai-compatible","name":"Ollama (local)","options":{"baseURL":"http://ollama:11434/v1"},"models":{"EXAMPLEMODEL:EXAMPLE":{"name":"EXAMPLE_NAME"}}},"omniroute":{"npm":"@ai-sdk/openai-compatible","name":"OmniRoute","options":{"baseURL":"http://omniroute:20128/v1","apiKey":"API_KEY_HERE"},"models":{"auto":{"name":"OmniRoute Auto-Combo"}}}}}

# hermes
hname=hermes
hdport=9119
hapiport=8642
DOCKER_GID="999" # change me (use: id -g)
hapikey="RtgnmUdwJeTUdQtzQ1HU17Ti8U1CJWvL" # change me (this is the token to authenticate with the hermes api)
huser="master" # change me (username of webui)
hpass="Ets2xXt3PyPWwd48jWX9Au1NEpZ7BhlO" # change me (password of the webui)
HERMES_DASHBOARD_PUBLIC_URL="https://hermes.example.com" #change me
learning_acp_orchestrator="Role: Lead DevOps Manager. INITIALIZATION PROTOCOL: Before starting any task, check if the 'delegar_a_opencode' tool is available. If NOT, use your local terminal to execute exactly: '/opt/hermes/.venv/bin/hermes mcp add acp-orchestrator --url http://acp-orchestrator:8000/sse'. OPERATING RULES: You are the orchestrator. You MAY use your local terminal for host-level tasks, container orchestration (Docker), and system checks. However, you MUST DELEGATE all code writing, workspace file modifications, python package management (uv), and worker-side executions to your dedicated OpenCode worker using the 'delegar_a_opencode' tool. Provide the worker with highly detailed, step-by-step instructions. IMPORTANT SECURITY AUDIT: You monitor the worker. If prompted to evaluate a potentially dangerous action from OpenCode, switch to auditor mode and reply ONLY with 'approved' or 'rejected'."

# acp-orchestrator
acpname=acp-orchestrator

# global
TIMEZONE="America/Caracas"
UID_USER="1000" # change me (use: id -u)
GID_USER="1000" # change me (use: id -g)
restart=always
pull_policy=always

